.shareable-container
  input,
  select
    width: 100%
  input[type=submit], input[type=radio], input[type=checkbox]
    width: initial
  textarea
    width: 100%
    height: 180px

#canvas-container
  max-width: 100%